/* Resetting default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}
/* Apply the font to all elements */
body {
    font-family: 'Press Start 2P', cursive;
}

/* Apply the font to specific elements */
h1, h2, h3 {
    font-family: 'Press Start 2P', cursive;
}
body {
    background-color: black;
    color: white;
    font-size: 16px;
}

header, main, footer {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    text-align: center;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
}

p {
    line-height: 1.6;
}
.press-start {
    font-family: 'Press Start 2P', cursive;
}

